body {
  /*background: lightgray;*/
  text-align: center;
}
h1 {
  color:brown;
}
.data-container {
width: 150px;
border:2px solid black;
/*float: left;*/
background: lightgray;
}
.favorite {
    background-color:lightblue ;
}
.data-wrapper {
  /*display: inline-block;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/*.trigger {
  width:200px;
  height:200px;
  border: 20px solid #999;
  background-color: :#ddd;
}
.trigger:hover .box {
  transform: translate(200px, 150px) rotate(200deg);
  width: 500px;
  /*background: teal;*/
/*}*/
